# Global information
chain:
    title: "Archway"
    chain_id: "archway-1"
    hex: "#e45121"

# Mainnet sources
kyve-1:
    block_source_id: 2
    state_source_id: 4

# Testnet sources
kaon-1:
    block_source_id: 2
    state_source_id: 4
