# Global information
source-id: "osmosis-1"
config-version: 1
properties:
  title: "Osmosis"
  hex: "#8d07c7"
  logo: "ar://u8kGlBx37seQCO1X5vQsc3Q8iO2CE-BHqsm0937poak"
  description: "Osmosis, dubbed the Interchain Liquidity Lab, is a decentralized exchange (DEX) for Cosmos, an ecosystem of sovereign, interoperable blockchains all connected trustlessly over IBC, the Inter-Blockchain Communication Protocol."
  website: https://osmosis.zone/
  docs: https://docs.osmosis.zone/

codebase:
  git-url: https://github.com/osmosis-labs/osmosis/
  settings:
    cosmos-properties:
      registry-url: https://github.com/cosmos/chain-registry/blob/master/osmosis/chain.json
      genesis-name: "v3"
      genesis-url: https://github.com/osmosis-labs/networks/raw/main/osmosis-1/genesis.json
    upgrades:
      - name: "v3"
        height: 1
        recommended-version: "v3.1.0"
        commit: "13916d1e10bca718b6ea7f4b84715710bc319e6d"
        go-version: "go1.15"
        ksync-engine: "tendermint-v0.34"
      - name: "v4"
        height: 1314500
        recommended-version: "v4.2.0"
        commit: "e79fc9f47f2bd4518d9e16567a369c25a0820fa6"
        go-version: "go1.17"
        ksync-engine: "tendermint-v0.34"
      - name: "v5"
        height: 2383300
        recommended-version: "v6.4.0"
        commit: "e79fc9f47f2bd4518d9e16567a369c25a0820fa6"
        go-version: "go1.17"
        ksync-engine: "tendermint-v0.34"
      - name: "v7"
        height: 3401000
        recommended-version: "v8.0.0"
        commit: "16e3b51f19a58f815a4eabcbcee11886eb33e026"
        go-version: "go1.18"
        ksync-engine: "tendermint-v0.34"
      - name: "v9"
        height: 4707300
        recommended-version: "v10.0.0"
        commit: "7ca72c5fc4547f62b9984e62cd83639727691b62"
        go-version: "go1.18"
        ksync-engine: "tendermint-v0.34"
      - name: "v11"
        height: 5432450
        recommended-version: "v11.0.1"
        commit: "50d49dd7cea50f09c7347f447bcb1e1872343220"
        go-version: "go1.18"
        ksync-engine: "tendermint-v0.34"
      - name: "v12"
        height: 6246000
        recommended-version: "v12.3.0"
        commit: "7e41ec9e69bce66f519ae715d2a8adf74e377263"
        go-version: "go1.18"
        ksync-engine: "tendermint-v0.34"
      - name: "v13"
        height: 7241500
        recommended-version: "v13.1.2"
        commit: "28234a55c3cfc98f19b8b7c81902cb9e43f8e261"
        go-version: "go1.18"
        ksync-engine: "tendermint-v0.34"
      - name: "v14"
        height: 7937500
        recommended-version: "v14.0.1"
        commit: "0a4b5bed878af2ea2167749f937e7cdde21f9031"
        go-version: "go1.19"
        ksync-engine: "tendermint-v0.34"
      - name: "v15"
        height: 8732500
        recommended-version: "v15.2.0"
        commit: "4a4a94585872e3196b9c83286979cda11d4889e3"
        go-version: "go1.19"
        ksync-engine: "tendermint-v0.34"
      - name: "v16"
        height: 10517000
        recommended-version: "v16.1.1"
        commit: "0dcae3392f23e44b8de436ff372c1373dc831b04"
        go-version: "go1.20"
        ksync-engine: "tendermint-v0.34"
      - name: "v17"
        height: 11126100
        recommended-version: "v17.0.0"
        commit: "ea8b7410e66f4aa7f360e1ce09e7b0cfd5e6e4bf"
        go-version: "go1.20"
        ksync-engine: "tendermint-v0.34"
      - name: "v18"
        height: 11155350
        recommended-version: "v18.0.0"
        commit: "1c5f25d04f19d6302e0bdd585ba1d7a2cc96e397"
        go-version: "go1.20"
        ksync-engine: "tendermint-v0.34"
      - name: "v18"
        height: 11155350
        recommended-version: "v18.0.0"
        commit: "1c5f25d04f19d6302e0bdd585ba1d7a2cc96e397"
        go-version: "go1.20"
        ksync-engine: "tendermint-v0.34"
      - name: "v19"
        height: 11317300
        recommended-version: "v19.2.0"
        commit: "38d1d2b748d161fd23f966d88b23b66a63c9a284"
        go-version: "go1.20"
        ksync-engine: "tendermint-v0.34"
      - name: "v20"
        height: 12028900
        recommended-version: "v20.5.0"
        commit: "7f2097863f7a0a02f4a0758fc0a600aecf63e1f4"
        go-version: "go1.20"
        ksync-engine: "tendermint-v0.34"
      - name: "v21"
        height: 12834100
        recommended-version: "v21.1.4"
        commit: "50c1d0b619c64817ba5d1da2d71dbeb6b7b60425"
        go-version: "go1.20"
        ksync-engine: "cometbft-v0.37"
      - name: "v22"
        height: 13325950
        recommended-version: "v22.0.5"
        commit: "350901e523815fc34a1de1ca54e9ccd3c4d1f756"
        go-version: "go1.21"
        ksync-engine: "cometbft-v0.37"
      - name: "v23"
        height: 13899375
        recommended-version: "v23.0.3"
        commit: "271a467dcaa3e4ee9e9a63ba0d4a5bf317650a43"
        go-version: "go1.21"
        ksync-engine: "cometbft-v0.37"
      - name: "v24"
        height: 14830300
        recommended-version: "v24.0.1"
        commit: "0021d3812a8c8d2798ab17e58991a677b82e8955"
        go-version: "go1.21"
        ksync-engine: "cometbft-v0.37"

networks:
  # Mainnet pools
  kyve-1:
    pools:
      - id: 1
        runtime: "kyvejs/tendermint"
    integrations:
      ksync:
        binary-name: "osmosisd"
        block-sync-pool: 1
        docs-url: "https://docs.osmosis.zone/"

  # Testnet pools
  kaon-1:
    pools:
      - id: 22
        runtime: "kyvejs/tendermint"
      - id: 23
        runtime: "kyvejs/tendermint-ssync"
    integrations:
      ksync:
        binary-name: "osmosisd"
        block-sync-pool: 1
        docs-url: "https://docs.osmosis.zone/"
        state-sync-pool: 5
