# Global information
source-id: "kyve-1"
config-version: 1
properties:
  title: "KYVE"
  hex: "#58c6b2"
  logo: "ar://WOiYR7qF7G_dp6eO0bFC7AorS7601qgek3X_IeAZook"
  description: "KYVE is a revolutionary platform within the Web3 space, designed to address the challenges of accessing decentralized and completely accurate data. As the Web3 ecosystem expands, the difficulty in accessing such data leads to scalability issues and the risk of data inconsistencies due to the lack of proper validation before use. KYVE aims to provide a trustless and secure future for Web3's data infrastructure by offering customized access to on- and off-chain data. It achieves this through decentralized data validation, ensuring data immutability, and facilitating easy data retrieval. This enables developers, data engineers, and others to access the trustless data they need to continue building the future of Web3."
  website: https://kyve.network/
  docs: https://docs.kyve.network/

codebase:
  git-url: https://github.com/KYVENetwork/chain
  settings:
    cosmos-properties:
      registry-url: https://github.com/cosmos/chain-registry/blob/master/kyve/chain.json
      genesis-url: https://raw.githubusercontent.com/KYVENetwork/networks/main/kyve-1/genesis.json
    upgrades:
      - name: "genesis"
        height: 1
        recommended-version: "v1.0.0"
        commit: "82007dd0225a3a0b7c1dfdbb12b1f8bc9a6f9273"
        go-version: "go1.19"
        ksync-engine: "tendermint-v0.34"
      - name: "v1.1.0"
        height: 826000
        recommended-version: "v1.1.3"
        commit: "9bed226602dcd1fa624aabee3124a2bbd0467d02"
        go-version: "go1.20"
        ksync-engine: "tendermint-v0.34"
      - name: "v1.2.0"
        height: 1135000
        recommended-version: "v1.2.2"
        commit: "489960cc1c3991d26d8d7546ccfa318a98121aa8"
        go-version: "go1.20"
        ksync-engine: "tendermint-v0.34"
      - name: "v1.3.0"
        height: 2061100
        recommended-version: "v1.3.2"
        commit: "7a59450c6cee62323132ace323afdbee94be0dfe"
        go-version: "go1.20"
        ksync-engine: "tendermint-v0.34"
      - name: "v1.4.0"
        height: 3908000
        recommended-version: "v1.4.0"
        commit: "68e5ff7a8d97f21e2aede9341ba22df9d81bb264"
        go-version: "go1.20"
        ksync-engine: "cometbft-v0.37"
      - name: "v1.5.0"
        height: 7254527
        recommended-version: "v1.5.0"
        commit: "3910277da474d51f4147fd388ac2c6cd4ca67c84"
        go-version: "go1.22"
        ksync-engine: "cometbft-v0.38"
      - name: "v2.0.0"
        height: 11026800
        recommended-version: "v2.0.0"
        commit: "f862d5432b29c67f3607707fe7122fb33e974a2f"
        go-version: "go1.22"
        ksync-engine: "cometbft-v0.38"
      - name: "v2.1.0"
        height: 11502800
        recommended-version: "v2.1.0"
        commit: "81d60e07776ee0776fe793fe0706fd02a6eb2573"
        go-version: "go1.23"
        ksync-engine: "cometbft-v0.38"
      - name: "v2.2.0"
        height: 13929447
        recommended-version: "v2.2.0"
        commit: "611fe2d48f537f7ecfb3faab34e5f47b3f65fc83"
        go-version: "go1.23"
        ksync-engine: "cometbft-v0.38"

networks:
  # Testnet pools
  kaon-1:
    pools:
      - id: 16
        runtime: "kyvejs/tendermint"
      - id: 17
        runtime: "kyvejs/tendermint-ssync"
    integrations:
      ksync:
        binary-name: "kyved"
        block-sync-pool: 16
        docs-url: "https://docs.kyve.network"
        state-sync-pool: 17
